.App {
  text-align: center;
}
body {
  background-color: #ffcc00;
  padding: 20px;
  margin: 0;
}
.menu {
  background-color: white;
  font-family: sans-serif;
  display: inline;
  font-weight: bold;
  padding: 20px;
  display: inline-block;
}
.content {
  box-shadow: 0 4px 8px 0 rgba(1, 1, 1, 0.2);
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
  background-color: white;
}
.header {
  box-shadow: 0 4px 8px 0 rgba(1, 1, 1, 0.2);
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
  background-color: white;
  text-transform: uppercase;
}
h1,
h2,
p,
ul,
li {
  font-family: sans-serif;
}
.content {
  background-color: #fff;
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.active {
  background-color: #0099ff;
}
